pandas>=2.0
numpy>=1.25
matplotlib>=3.8
openpyxl>=3.1
ipython>=8.0
jupyterlab>=5.0
# Optional (VS Code):
# jupytext>=1.15   # if you want .py <-> .ipynb sync
tabulate>=0.9
adjustText>=1.0  # prevents overlapping labels in scatter plots
